.itemClass{
    margin: 10px;
    width: 30%;
    height: 30%;
}

img{
    width: 200px;
    height: 200px;
    display:block;
    margin:auto;
}
.buttonClass {
    width: 30%;
    background-color: brown;
    border-color: black;
    color: white;
    border-radius: 5px;
}
.buttonClass:hover {
    background-color: white;
    color: brown;
}